<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>${HOSTNAME}</contextName>
    <property name="LOG_PATH" value="phantom-log" />
    <springProperty scope="context" name="appName" source="spring.application.name" />
    <springProperty scope="context" name="ip" source="spring.cloud.client.ipAddress" />
    <springProperty scope="context" name="logstash.log.file" source="logstash.log.file" defaultValue="./bootstrap.log"/>
    <springProperty scope="context" name="logging.file" source="logging.file"  defaultValue="./bootstrap-elk.log"/>
    <conversionRule conversionWord="loggerId" converterClass="com.common.logger.LoggerIdConverter" />
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS} %X{REQUEST_ID} %loggerId %X{last} ${ip} ${appName} %highlight(%-5level) %yellow(%X{X-B3-TraceId}),%green(%X{X-B3-SpanId}),%blue(%X{X-B3-ParentSpanId}) %yellow(%thread) %green(%logger) %msg%n"/>

    <appender name="logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logstash.log.file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logstash.log.file}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp key ="serverTimestamp">
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "loggerId":"%loggerId",
                        "from": "%X{FROM}",
                        "to":"%X{TO}",
                        "requestId":"%X{REQUEST_ID}",
                        "interfaceId":"%X{INTERFACE_ID}",
                        "interfaceName":"%X{INTERFACE_NAME}",
                        "interfaceType":"%X{INTERFACE_TYPE}",
                        "appCode":"%X{APP_CODE}",
                        "requestStatus":"%X{REQUEST_STATUS}",
                        "responseCode":"%X{RESPONSE_CODE}",
                        "requestContent":"%X{REQUEST_CONTENT}",
                        "responseContent":"%X{RESPONSE_CONTENT}",
                        "startAt":"%X{START_AT}",
                        "endAt":"%X{END_AT}",
                        "serverIp":"%X{SERVER_IP}",
                        "app": "${appName}",
                        "level": "%level",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "parent": "%X{X-B3-ParentSpanId:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "message": "%message",
                        "stack_trace": "%exception{10}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.file}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
    </appender>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="INFO" />
    <logger name="com.kingboy.repository" level="DEBUG" />

    <logger name="pecker.zuul.filter.LoggerPostFilter" level="info" additivity="false">
        <appender-ref ref="logstash" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="pecker.zuul.filter.LoggerErrorFilter" level="info" additivity="false">
        <appender-ref ref="logstash" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="logstash" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>

</configuration>